{
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true,
    "commonjs": true
  },
  "plugins": ["jest"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "warn"
  }

}
